<div class="container mt-5">
    <h1 class="d-flex justify-content-center">Parimal Mahindrakar</h1>
    <h3 class="d-flex justify-content-center">Employee Management Portal </h3>
    <hr>
    <nav class="navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav p-1">
            <li class="nav-item">
                <button routerLink = "department" class="btn btn-light btn-outline-primary">Department</button>
            </li>
            <li class="nav-item">
                <button routerLink="employee" class="btn ml-3 btn-light btn-outline-primary">Employee</button>
            </li>
        </ul>

    </nav>
    <hr>
    <router-outlet></router-outlet>

</div>








